
.image1 {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background: white;
    border: #312626 solid 2px;
    border-radius: 50%;
    /*padding-right: 60px;*/
    position: relative;
    top: -20px;
    right: 30px;
}

.responsive_design {
    box-sizing: border-box;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:150px;
    padding-top: 5px;
    /*padding-left: 10px;*/
    color: #b70e81;
    /*flex-direction: column;*/
    /*justify-content: center;*/

}

.user_interface_design {
    box-sizing: border-box;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:150px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #b70e81;
}
.web_development{
    box-sizing: border-box;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:150px;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 2px;
    color: #b70e81;
        }

.image2 {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background: white;
    border: #312626 solid 2px;
    border-radius: 50%;
    /*padding-right: 60px;*/
    position: relative;
    top: 1px;
    right: 50px;
}

.image3 {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background: white;
    border: #312626 solid 2px;
    border-radius: 50%;
    /*padding-right: 60px;*/
    position: relative;
    top: -14px;
    right: 50px;;
}


.par {
    box-sizing: border-box;
    width: 140px;
    background: white;
    color: grey;
    padding-right: 5px;
    padding-left: 5px;
    text-align: justify;

}

.leam_more {
    box-sizing: border-box;
    height: 10px;
    width: 80px;
    background: white;
    border: 2px solid gray;
    color: black;
    /*margin-left: 15px;*/
    padding-left: 5px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 50px;
}

