.cont2_1 {
    background: darkblue;
    box-sizing: border-box;
    height: 100%;
    width: 33%;
    text-align: center;
    padding-top: 60px;
}

.cont2_2 {
    background: darkblue;
    box-sizing: border-box;
    height: 100%;
    width: 33%;
    text-align: center;
    padding-top: 60px;
}

.cont2_3 {
    background: darkblue;
    box-sizing: border-box;
    height: 100%;
    width: 33%;
    text-align: center;
    padding-top: 60px;
}